body {
	font-family: "arial" !important;
}
.fileinput-new > .pictures {
    text-align: center;
    margin-top: 30px;
}

.fileinput-new > .pictures > i, 
.fileinput-new > .pictures >span {
    color: #eee;
    width: 100%;
}

.skin-purple .main-header .navbar,
.skin-purple .main-header .navbar .sidebar-toggle:hover,
.skin-purple .main-header .logo {
	background: #615c85 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #9FA2A5 !important;
}

.select2-container, .wysihtml5-sandbox {
	display: block;
	width: 100% !important;
}

.box.box-primary {
    border-top-color:  #605ca8 !important;
}

.box .box-header, .box .box-body {
    padding: 20px 20px 10px 20px !important;
}

.btn-primary {
	background: #605ca8 !important;
    border-color: #605ca8 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #605ca8 !important;
}

.select2-container--default .select2-results__option[aria-selected="true"], 
.select2-container--default .select2-results__option[aria-selected="true"]:hover {
	color: #fff !important;
}

.file-preview,
.selectize-input, 
.selectize-input.focus, 
.selectize-control.multi .selectize-input > div,
.selectize-dropdown, 
.selectize-dropdown.form-control {
	border-radius: 0;
}

.selectize-input.focus {
	border-color: #3c8dbc !important;
	box-shadow: none  !important;
}

.selectize-control.multi .selectize-input > div {
	/*padding: 5px 10px 5px 10px;*/
	padding-left: 10px;
	padding-right: 10px;
	background: #fff;
	border: 1px solid #d2d6de;
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}