.fileinput-new > .pictures {
    text-align: center;
    margin-top: 30px;
}

.fileinput-new > .pictures > i, 
.fileinput-new > .pictures >span {
    color: #eee;
    width: 100%;
}

.skin-purple .main-header .navbar,
.skin-purple .main-header .navbar .sidebar-toggle:hover,
.skin-purple .main-header .logo {
	background: #615c85 !important;
}