body {
    margin: 0;
    padding: 0;
}

.price-details p span.harga{
	font-size: 14px;
	color:#383838;
	
}

.content h2 {
	text-transform: capitalize;
    font-family: sans-serif;
    margin-top: 10px;
}
